section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width:100%;

}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 41%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid rgb(233, 129, 11);
    padding: 10px;
    border-radius: 50%;
    transition: 1;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: rgb(233, 129, 11);
}

#radio1:checked ~ .nav-auto .manual-btn1{
    background-color: rgb(233, 129, 11);
}
#radio2:checked ~ .nav-auto .manual-btn2{
    background-color: rgb(233, 129, 11);
}
#radio-3:checked ~ .nav-auto .manual-btn3{
    background-color: rgb(233, 129, 11);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

/* css do footer*/
.bloco-informaçoes tbody{

    display: flex;
     justify-content: row;

}
